body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #8a1717;
  padding: 0 6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .nav__top--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav__top--item {
  color: blue;
  font-size: 30px;
  list-style: none;
  margin-right: 2em;
  color: black;
}

header .nav__top--link {
  color: black;
}

header .logo {
  height: 80px;
  width: 80px;
}

header .logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#restaurant .info__box {
  width: 100%;
  height: calc(100vw/2);
  background-image: url("@/assets/img/bcimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#restaurant__info {
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.3em;
}

#restaurant__title {
  margin-top: 1em;
  font-size: 2em;
  text-align: center;
}

#orders {
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8a1717;
}

#orders__title {
  letter-spacing: 2px;
  margin-top: 1em;
  font-size: 2em;
}

#orders .orders__list {
  width: 50% !important;
}

#orders .orders__item {
  list-style-type: decimal-leading-zero;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3em;
  border-bottom: 1px solid white !important;
  padding-top: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#orders .orders__info {
  margin-top: 3em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#orders .orders__info--count {
  font-size: 1.5em;
}

#orders .orders__info--profit {
  font-size: 1.5em;
}

.orders__box {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.orders__box table {
  background-color: #8a1717;
  min-width: 60%;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.orders__box table thead th {
  border: 1px solid white;
  font-size: 1.7em;
}

.orders__box table tbody tr td {
  border: 1px solid white;
  text-align: center;
  font-size: 1.5em;
}

.orders__box table tbody tr td button {
  font-size: 1em;
  padding: .1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.orders__box table tbody tr td .order__detail {
  background-color: white;
  font-size: 1em;
  padding: .1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
}

.orders__box table tfoot td {
  padding: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-size: 1.5em;
}

.add__orders {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add__orders--table {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add__orders--servant {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add__orders #servant, .add__orders #table {
  width: 150px;
  padding: .2em;
  font-size: 1.5em;
}

.add__orders label {
  font-size: 1.7em;
}

.add__orders .create__order {
  font-size: 2em;
  background-color: #8a1717;
  color: white;
  margin-top: 4em;
  padding: .2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select__orders {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select__orders--box {
  -webkit-box-shadow: 1px 1px 3px gray;
          box-shadow: 1px 1px 3px gray;
  height: auto;
  width: 50%;
}

.select__orders #eats {
  padding: .5em;
  width: 100%;
}

.select__orders .eat__count {
  margin: 2em 2em 0 0;
  padding: .5em;
  font-size: 1em;
}

.select__orders .send__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select__orders .send__box .back {
  background-color: #8a1717;
  padding: .3em .5em;
  font-size: 1em;
  margin-right: .5em;
  color: white;
}

.select__orders .send__box--link {
  font-size: 1em;
  padding: .3em .5em;
  background-color: #8a1717;
  color: white;
  display: inline-block;
}

.select__orders table {
  background-color: lightgray;
  width: 50%;
  margin-top: 2em;
}

.select__orders table tbody tr td {
  text-align: center;
}

.select__orders .button {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.select__orders .button .order__end {
  background-color: #8a1717;
  padding: .3em .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  margin-top: 1em;
}

.menu {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu form {
  width: 30%;
  background-color: #8a1717;
  padding: 1em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu form input {
  font-size: 1em;
  padding: .4em;
  margin-bottom: 1em;
}

.menu form label {
  color: white;
  font-size: 1.5em;
}

.menu form button {
  padding: .5em;
  margin-left: 2em;
}

.menu .menu__form {
  border-right: 2px solid white;
}

.menu .servant__form button {
  margin: 0 !important;
}

.info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__box .products__table, .info__box .products__servant {
  background-color: #8a1717;
  margin: 2em;
  min-width: 200px;
}

.info__box .products__table tr td, .info__box .products__servant tr td {
  font-size: 1em;
  text-align: center;
}

.info__box .products__table tr td button, .info__box .products__servant tr td button {
  cursor: pointer;
}

.info__box .products__table {
  height: 30px;
}

.info__box .products__servant {
  height: 30px;
}
