body{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    padding: 0;
    margin: 0;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
}
// header 
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(138, 23, 23);
    padding: 0 6em;
    box-sizing: border-box;
    .nav__top {
      &--list {
        display: flex;
      }
      &--item {
        color: blue;
        font-size: 30px;
        list-style: none;
        margin-right: 2em;
        color: black;
      }
      &--link{
        color: black;
      }
    }
    .logo {
      height: 80px;
      width: 80px;
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

// resataurant section
#restaurant{
    .info__box{
        width: 100%;
        height: calc(100vw/2);
        background-image: url("@/assets/img/bcimg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__info{
       padding: 1em;
       box-sizing: border-box;
       font-size: 1.3em;
    }
    &__title{
        margin-top: 1em;
        font-size: 2em;
        text-align: center;
    }
}

// orders
#orders{
    padding-bottom: 2em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(138, 23, 23);
    &__title{
        letter-spacing: 2px;
        margin-top: 1em;
        font-size: 2em;
    }
    .orders__list{
        width: 50% !important;   
    }
    .orders__item{
        list-style-type: decimal-leading-zero;
        display: flex;
        justify-content: space-between;
        font-size: 1.3em;
        border-bottom: 1px solid white !important;
        padding-top: .5em;
        box-sizing: border-box;
    }
    .orders__info{
        margin-top: 3em;
        width: 50%;
        display: flex;
        justify-content: space-between;
        &--count{
            font-size: 1.5em;
        }
        &--profit{
            font-size: 1.5em;
        }
    }

}
// orders page 
.orders__box{
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    table{
        background-color: rgb(138, 23, 23);
        min-width: 60%;
        padding: 1em;
        box-sizing: border-box;
        thead{
            th{
                border: 1px solid white;
                font-size: 1.7em;
            }
        }
        tbody{
            tr{
                td{
                    border: 1px solid white;
                    text-align: center;
                    font-size: 1.5em;
                    button{
                        font-size: 1em;
                        padding: .1em;
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                    }
                    .order__detail{
                        background-color: white;
                        font-size: 1em;
                        padding: .1em;
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
            }
        }
        tfoot{
            td{
                padding: .5em;
                box-sizing: border-box;
                color: white;
                font-size: 1.5em;
            }
        }
    }
}
// add orders

.add__orders{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &--table{
        margin: 2em;
        display: flex;
        flex-direction: column;
    }
    &--servant{
        margin: 2em;
        display: flex;
        flex-direction: column;
    }
    #servant,#table{
        width: 150px;
        padding: .2em;
        font-size: 1.5em;
    }
    label{
        font-size: 1.7em;
    }
    .create__order{
        font-size: 2em;
        background-color: rgb(138, 23, 23);
        color: white;
        margin-top: 4em;
        padding: .2em;
        box-sizing: border-box;

    }
}

// create orders

.select__orders{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--box{
        box-shadow: 1px 1px 3px gray;
        height: auto;
        width: 50%;
        
    }
    #eats{
        padding: .5em;
        width: 100%;
    }
    .eat__count{
        margin: 2em 2em 0 0;
        padding: .5em;
        font-size: 1em;
    }
    .send__box{
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        box-sizing: border-box;
        .back{
            background-color: rgb(138, 23, 23);
            padding: .3em .5em;
            font-size: 1em;
            margin-right: .5em;
            color: white;
        }
        &--link{
            font-size: 1em;
            padding: .3em .5em;
            background-color: rgb(138, 23, 23);
            color: white;
            display: inline-block;
        }
    }
    table{
        background-color: lightgray;
        width: 50%;
        margin-top: 2em;
        tbody{
            tr{
                td{
                    text-align: center;
                }
            }
        }
    }
    .button{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        .order__end{
            background-color: rgb(138, 23, 23);
            padding: .3em .5em;
            box-sizing: border-box;
            color: white;
            margin-top: 1em;
        }
    }
}
// admin panel
.menu{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    form{
        width: 30%;
        background-color: rgb(138, 23, 23);
        padding: 1em 2em;
        box-sizing: border-box;
        input{
            font-size: 1em;
            padding: .4em;
            margin-bottom: 1em;
        }
        label{
            color: white;
            font-size: 1.5em;
        }
        button{
            padding: .5em;
            margin-left: 2em;
        }



    }
    .menu__form{
        border-right: 2px solid white;
    }
    .servant__form{
        button{
            margin: 0 !important;
        }
    }
}
.info__box{
    display: flex;
    justify-content: space-between;
    .products__table,.products__servant{
        background-color: rgb(138, 23, 23);
        margin: 2em;
        min-width: 200px;
        tr{
            td{
                font-size: 1em;
                text-align: center;
                button{
                    cursor: pointer;
                }
            }
        }
    }
    .products__table{
        height: 30px;
    }
    .products__servant{
        height: 30px;
    }
}